  body {
  background-color: salmon;
    }

h1 {
  color: gold;
  text-align: center;
  font-size: 100px;
    }

div.stuck {
  position: absolute;
  background-color: salmon;
  border: 5px dashed;
  center: 50%;
  top: 0px;
  height: 25px;
}



/* ----------------------------------------------------Nav Bar Style--------------------------------------------*/
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 25px
  
}

li {
  padding: 30px 60px;
  display: inline;
}
