  body {
  background-color: salmon;
    }

h1 {
  color: gold;
  text-align: center;
  font-size: 100px;
    }
    
 <style>
    div.stuck {
  position: absolute;
  background-color: salmon;
  border: 5px dashed;
  right: 20px;
  top: 25px;
  z-index: 100;
  height: 50px;
}
    </style>


/* ----------------------------------------------------Nav Bar Style--------------------------------------------*/
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0
  
}

li {
  padding: 30px 60px;
  display: inline;
}
